---
title: Blog
permalink: /blog/
layout: default
id: blog
lead: "I've always learnt a lot from other people's blogs, articles and tweets. Now I'd like to hopefully do something back, that's why I finally started writing some of my thoughts down."
---

<p>I've never really written for an audience before, so please bear with me while I try to get better at writing. I'd love to hear what you think about my articles.</p>

<h2>Most recent articles</h2>
{% assign posts = site.posts|sort: 'date'|reverse%}

<ol class="a-list-bare">
    {% for post in posts|limit:2 %}
    <li>
        <h3>
            <a href="{{ post.url}}">
                {{ post.title }}
            </a>
        </h3>
        <p>{{ post.intro }}</p>
    </li>
    {% endfor %}
</ol>

<h2>Older postings</h2>
<ol class="a-list-bare">
    {% for post in posts|offset:2 %}
    <li>
        <a href="{{ post.url}}">
            {{ post.title }}
        </a>
    </li>
    {% endfor %}
</ol>