{% include document/document-open.html %}

{% include document/document-head.html %}

<body>

<div class="site">
  {% include layout/header.html %}

  <div class="page">

    {% include components/page-header.html %}

    <main class="page-content">
      <h1>{{ page.title }}</h1>

      {% if page.lead %}
        <p class="lead">{{ page.lead }}</p>
        <hr />
      {% endif %}

      {{ content }}

      {% include components/blog-navigation.html %}

      <hr />

      {% include components/copyright.html %}

    </main>

    {% include components/page-footer.html %}

  </div>

  {% include layout/footer.html %}

</div>

</body>

{% include document/document-scripts.html %}

{% include document/document-close.html %}