// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

.page-header,
.page-footer,
.page-content {
    padding: baseline(.5) 10vw;

    @include respond-min('m'){
        padding-right: 25vw;
    }

    @include respond-min('l'){
        padding-right: 35vw;
    }
}

.page-content {
    padding-bottom: baseline(2);
    padding-top: baseline(2);
}

.page-header {
    align-items: flex-start;
    background: rgba(#eb0064, .9);
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Bree Serif';
    justify-content: flex-start;
    // left: 0;
    // position: fixed;
    // top: 0;
    // width: 100%;
    z-index: 2;
}

.page-content {
    margin-top: 0;
    position: relative;
    z-index: 1;
}

.page-footer {
    color: rgba(white, .5);
    // padding-top: baseline(1);
    // padding-bottom: baseline(1);
}

header {

}

.page-footer {
    background: rgba(black, .9);
}

.page-footer ul {
    margin-bottom: 0;
}

.page-footer a {
    color: white;
}

.page-footer li {
    margin-right: baseline(.5);

    &:last-child {
        margin-right: 0;
    }

}

header {

}
header .header__logo {
    flex: 1 0 auto;
    margin-right: baseline(.5);
}

body,
.site {
    margin-top: 0;
}

header .header__nav {
    flex: 0 0 auto;
    margin-top: 0;

    ul {
        margin-top: 0;
    }

    li + li {
        margin-left: baseline(.5);
    }

    a {
        opacity: .75;

        @include attention {
            opacity: 1;
        }

    }

}

h1.logo {
    color: white;
    font-size: 1rem;
    line-height: baseline(1);
    margin: 0;
    opacity: 1;

    a {
        opacity: .75;

        @include attention {
            opacity: 1;
        }
    }

}

header a,
header span {
    color: white;
    display: inline-block;
}
