<head>

    <!--[if gt IE 8]><!-->
    <script>document.documentElement.className = 'js';</script>
    <!--<![endif]-->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="author" content="Pim Derks - @pimderks" />
    <meta name="description" content="{{ page.lead | strip_html }}" />

    <title>
        {% if page.title %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" />
    <link rel="stylesheet" href="/static/scss/screen.css" />

</head>