/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

%button {
  border: 1px solid get-color('brand');
  background: get-color('brand');
  color: get-color('white');
  padding: baseline(.5);
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: auto;
}

button,
.a-button {
  @extend %button;

  // To hover is added on the button itself
  // to avoid heavy overwriting
  @include attention {
    background: get-color('brand');
    border-color: get-color('brand');
    color: get-color('white');
  }

  &[disabled] {;
    opacity: .5;
  }

}