/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  color: get-color('brand');
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}
