<footer rel="contentinfo" class="page-footer">

    <nav class="external">
        <h3 class="u-screenreader">Other sites</h3>
        <ul class="a-list-bare a-list-nav">
            <li>
                <a href="https://twitter.com/pimderks/">Twitter</a>
            </li>
            <li>
                <a href="https://github.com/PimDerks/">Github</a>
            </li>
            <li>
                <a href="https://www.facebook.com/pim.derks.1985/">Facebook</a>
            </li>
            <li>
                <a href="http://last.fm/user/pimd/">Last.FM</a>
            </li>
            <li>
                <a href="https://nl.linkedin.com/in/pimderks1985/">LinkedIn</a>
            </li>
            <li>
                <a href="https://www.instagram.com/pimderks1985/">Instagram</a>
            </li>
        </ul>
    </nav>

</footer>