<footer rel="contentinfo" class="page-footer">

    <nav class="external">
        <h3 class="u-screenreader">Other sites</h3>
        <ul class="a-list-bare a-list-nav">
            <li>
                <a href="#">Twitter</a>
            </li>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">Facebook</a>
            </li>
            <li>
                <a href="#">Last.FM</a>
            </li>
            <li>
                <a href="#">LinkedIn</a>
            </li>
        </ul>
    </nav>

</footer>